<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="javascripts/homepage.js"></script>
    <!--<script src="javascripts/navbar.js"></script>-->
</head>

<body>
    <div id="navbarholder" > 
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">StockX</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                </ul>
                <!--<form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>-->
                <ul class="nav navbar-nav navbar-right">
                    <li id = "signup"><a href="\register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li id = "login"><a href="\login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li id = "logout"><a href="\logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <!--<li id = "loggedin" hidden><a href="\logout"><span class="glyphicon glyphicon-log-out"></span> Name</a></li>-->
                </ul>
            </div>
        </nav>
    </div>
    <!-- Jumbotron -->
    <div class="container">
        <div class="jumbotron">
            <h6>Sensex Index</h6>
            <h1 id="sensex_index"></h1>
            <p id="sensex_diff" class="lead"></p>
            <p id="sensex_perc" class="lead"></p>
            <p><a class="btn btn-lg btn-success" role="button" id="portfolio_button">My Portfolio</a></p>
        </div>
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h2>Top Gainers</h2>
                <!-- gainers table-->
                <table id="table_gainers" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Stock Name</th>
                            <th>Curr Price</th>
                            <th>Change</th>
                            <th>Percentage Change</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Top Losers</h2>
                <!-- losers table-->
                <table id="table_losers" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Stock Name</th>
                            <th>Curr Price</th>
                            <th>Change</th>
                            <th>Percentage Change</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- stock table-->
        <table id="table_stocks" class="table table-striped">
            <thead>
                <tr>
                    <th>Stock id</th>
                    <th>Stock Name</th>
                    <th>Industry</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>


        <!-- stock detail table-->
        <!--hidden initially-->

        <div id="stock_div">

            <div class="jumbotron">
                <h5>Individual Stock Details</h5>
                <h1 id="stock_name"></h1>
                <p id="stock_industry" class="lead"></p>
                <!--<p id="sensex_perc" class="lead"></p>-->
            </div>
            <div id="chartContainer" style="width:100%; height:280px"></div>

            <table id="table_stock_detail" class="table table-striped">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume</th>
                        <th>Adj_close</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</body>

</html>