extends layout

block content
    div
    table
        thead
        tr:th Day
            th Open
            th Low
            th Close
            th Volume
            th Adj_Close
        //- tbody
        //-   each post, i in userPosts
        //-     tr
        //-       td 
        //-         a(href='/admin/post/' + post.id) #{post.author} - #{post.title}

